{% extends 'gadgetapp/index.html' %}
{% block bodycontent %}

    <!-- masterslider -->
    <div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
        <!-- new slide -->
        <div class="ms-slide">
            <!-- slide background -->
            <img src="/static/gadgetapp/js/masterslider/blank.gif"
                 data-src="/static/gadgetapp/images/Slider1.jpg" alt="">
            <!-- slide text layer -->
            <div class="ms-layer ms-caption" style="">
                <h1 class="text-right">
                    <span>Get Your Gadgets.</span>
                    <br>
                    No Headaches. Guaranteed.
                </h1>
            </div>

        </div>
        <!-- end of slide -->
        <!-- new slide -->
        <div class="ms-slide">
            <!-- slide background -->
            <img src="/static/gadgetapp/js/masterslider/blank.gif"
                 data-src="/static/gadgetapp/images/Slider3.jpg" alt="">
            <!-- slide text layer -->
            <div class="ms-layer ms-caption" style="">
                <h1 class="text-right">
                    <span>Get Your Gadgets.</span>
                    <br>
                    No Headaches. Guaranteed.
                </h1>
            </div>
        </div>

        <div class="ms-slide">
            <img src="/static/gadgetapp/js/masterslider/blank.gif"
                 data-src="/static/gadgetapp/images/Slider7.jpg" alt="">
            <div class="ms-layer ms-caption" style="">
                <h1 class="text-right">
                    <span>Get Your Gadgets.</span>
                    <br>
                    No Headaches. Guaranteed.
                </h1>
            </div>
        </div>
    </div>

    <div class="chef-welcome">
        <div class="container">
            <h1>Welcome</h1>

            <p>Your one stop site to order all your office hardware and other supplies. Select what you need, send for manager approval and get it delivered right to you. No Headaches. Guaranteed.</p>
        </div>
    </div>

{% endblock %}