{% extends 'gadgetapp/base.html' %}
{% block content %}

	<header id="header">
		<div class="header-nav-bar">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">
							<img src="/static/gadgetapp/images/dealertrack-gmg.png" alt="TakeAway" height="100" width="280">
						</a>

					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">

							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="/order/#/menu/">View Inventory</a>
							</li>

							{% if user.is_authenticated %}
							
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">Welcome <i>{{ user.username }}</i><span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/dashboard">My Account</a></li>
									<li><a href="/logout">Logout</a></li>
								</ul>
							</li>

							{% else %}

							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/login">Sign In</a></li>
									<li><a href="/customerregister">Register</a></li>
								</ul>
							</li>

							{% endif %}

						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
		<!-- end .header-nav-bar -->
	</header>

	<!-- all page-content star -->
	<div id="page-content">

		{% block bodycontent %}
		{% endblock %}

	</div>
	<!-- end #page-content -->

{% endblock %}
